$zoom: 0.7;

.cv-preview {
  position: relative;
  width: 21cm;
  height: 29.7cm;
  padding-inline: 3rem;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  transform: scale($zoom);

  &::before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 20px;
    left: 0;
    background-color: #3f3f3f;
  }

  .personal-info {
    .info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0;
      width: 50%;
    }
  }

  .profile-info {
    color: #7e7e7e;
    max-width: 50%;
  }

  .work-item,
  .edu-item {
    display: flex;
    gap: 2rem;

    &__dates {
      max-width: 250px;
    }

    &__details {
    }
  }

  .title {
    &--section {
      padding: 0.5rem 0;
      font-weight: bold;
      border-bottom: 3px solid #ccc;
    }
  }

  .skill-info {
    .skill-list {
      list-style: none;
      padding: 0;

      .skill-item {
        &__name {
          display: inline-block;
          width: 12.5rem;
        }
      }
    }
    .circles {
      display: flex;
      gap: .5rem;
      .circle {
        width: 1rem;
        height: 1rem;
        background-color: #7b7b7b;
        border-radius: 100px;
      }
    }
  }


}


