.list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__buttons {
    display: flex;
    gap: 0.5rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0.7rem 2rem;
    margin-bottom: 0.3rem;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 5px;
  }

  // &__item-edit {
  //   display: flex;
  //   justify-content: space-between;

  //   & .form__labels {
  //     display: block;
  //   }
  // }

  &__btn {
    cursor: pointer;
    background: none;
    width: 50px;
    border: 1px solid rgb(217, 217, 217);
    padding: 0.2rem 0.7rem;
    border-radius: 5px;
  }
}
