.form {
  text-align: left;
  padding: 2rem;

  &__labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }


  &__input {
    width: 100%;
    height: 2rem;
  }

  &__button {
    margin-top: 1rem;
    cursor: pointer;
    color: rgb(188, 0, 0);
  }
}


.work-list {
  &__new-work {
    display: grid;
    gap: 1rem;
  }
}

textarea {
  width: 100%;
  height: 13rem;
  resize: none;
  padding: 0.5rem;
}

label[for='email'],
label[for='location'] {
  grid-column: 2 span;
}
