.work-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0.7rem 2rem;
    margin-bottom: .3rem;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 5px;
  }

  &__btn {
    cursor: pointer;
    background: none;
    border: 1px solid rgb(217, 217, 217);
    padding: .2rem .7rem;
    border-radius: 5px;

  }
}
